---
import SiteHead from "../../../../components/layout/SiteHead.astro";
import DealWithItApp from "../../../../components/playground/DealWithItApp.astro";
import "../../../../styles/global.css";
import { getAlternateLocaleLinks } from "../../../../i18n/routing";
import { getSiteCopy } from "../../../../i18n/copy";
import { siteUrl } from "../../../../lib/siteConfig";

export const prerender = true;

const locale = "ru" as const;
const copy = getSiteCopy(locale);
const pathname = Astro.url.pathname;
const favicon32Src = "/favicons/favicon-32.png";
const appleTouchIconSrc = "/favicons/apple-touch-icon.png";
const avatarSrc = "/avatars/avatar.jpg";
const interLatinFontSrc = "/fonts/inter-latin-variable.woff2";
const displayFontSemiboldSrc = "/fonts/ibm-plex-serif-latin-600.woff2";
const rubikBrokenFaxFontSrc = "/fonts/rubik-broken-fax-cyrillic-regular.woff2";
const pressStart2PFontSrc = "/fonts/press-start-2p-cyrillic-regular.woff2";
const canonicalUrl = new URL(pathname, siteUrl).toString();
const socialImageUrl = new URL(avatarSrc, siteUrl).toString();
const alternateUrls = getAlternateLocaleLinks(pathname).map((item) => ({
	href: new URL(item.href, siteUrl).toString(),
	hreflang: item.locale
}));
---

<!doctype html>
<html lang="ru">
	<head>
		<SiteHead
			title="Deal with it"
			description="Пиксельные очки на аватарку в пару кликов. Экспортируйте гифку вплоть до 256×256, а при желании включайте режим 80×80 для Slack-эмоджи."
			locale={locale}
			favicon32Src={favicon32Src}
			appleTouchIconSrc={appleTouchIconSrc}
			avatarSrc={avatarSrc}
			siteName={copy.siteName}
			canonicalUrl={canonicalUrl}
			socialImageUrl={socialImageUrl}
			interLatinFontSrc={interLatinFontSrc}
			displayFontSemiboldSrc={displayFontSemiboldSrc}
			alternateUrls={alternateUrls}
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={rubikBrokenFaxFontSrc}
			crossorigin
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={pressStart2PFontSrc}
			crossorigin
		/>
	</head>
	<body class="bg-stone-50 text-stone-900 antialiased dark:bg-stone-950 dark:text-stone-100">
		<DealWithItApp locale="ru" backHref="/ru/design" />
	</body>
</html>
