---
import SiteLayout from "../../layouts/SiteLayout.astro";
import PageHero from "../../components/sections/PageHero.astro";
import { getSiteCopy } from "../../i18n/copy";
import { localizePath } from "../../i18n/routing";

const locale = "ru" as const;
const copy = getSiteCopy(locale);
---

<SiteLayout
	title={copy.home.metaTitle}
	description={copy.home.metaDescription}
	locale={locale}
>
	<PageHero
		title={copy.home.heroTitle}
		class="my-auto max-w-4xl"
	>
		<p class="type-page-lead mt-4 max-w-3xl text-stone-600 sm:mt-8 sm:leading-8">
			{copy.home.introBeforePhotos}<a
				href={localizePath("/photography", locale)}
				class="text-link"
			>{copy.home.photosLabel}</a>{copy.home.introBeforeHighlights}<a
				href={localizePath("/design", locale)}
				class="text-link"
			>{copy.home.highlightsLabel}</a>{copy.home.introBeforeAbout}<a href={localizePath("/about", locale)} class="text-link"
				>{copy.home.aboutLabel}</a
			>{copy.home.introAfterAbout}
		</p>
	</PageHero>
</SiteLayout>
