---
import SiteLayout from "./SiteLayout.astro";
import CaseStudyHero from "../components/sections/CaseStudyHero.astro";
import MediaLinkCard from "../components/sections/MediaLinkCard.astro";
import MicroLabel from "../components/typography/MicroLabel.astro";
import { resolveStaticAssetUrl } from "../lib/assetUrl";

interface MoreCaseStudyLink {
	href: string;
	title: string;
	logoSrc: string;
	logoAlt: string;
	imageSrc: string;
	imageAlt: string;
	description: string;
}

interface Props {
	title: string;
	description: string;
	pageTitle: string;
	heroSrc: string;
	heroAlt: string;
	moreCaseStudies: MoreCaseStudyLink[];
}

const {
	title,
	description,
	pageTitle,
	heroSrc,
	heroAlt,
	moreCaseStudies
} = Astro.props;

const resolvedHeroSrc = resolveStaticAssetUrl(heroSrc);
const resolvedMoreCaseStudies = moreCaseStudies.map((study) => ({
	...study,
	logoSrc: resolveStaticAssetUrl(study.logoSrc),
	imageSrc: resolveStaticAssetUrl(study.imageSrc)
}));
---

<SiteLayout title={title} description={description}>
	<div class="flex w-full flex-col">
		<CaseStudyHero
			title={pageTitle}
			lead={description}
			heroSrc={resolvedHeroSrc}
			heroAlt={heroAlt}
		/>

		<slot />

		<section class="mt-20 w-full">
			<MicroLabel class="text-sm tracking-[0.24em]">Read more case studies</MicroLabel>
			<div class="mt-6 flex flex-col gap-4">
				{
					resolvedMoreCaseStudies.map((study) => (
						<MediaLinkCard
							href={study.href}
							title={study.title}
							logoSrc={study.logoSrc}
							imageSrc={study.imageSrc}
							imageAlt={study.imageAlt}
							description={study.description}
						/>
					))
				}
			</div>
		</section>
	</div>
</SiteLayout>
